@use '../../../styles/variables' as *;

.clue-text {
    text-align: start;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.form {
    display: flex;
    gap: 1rem;
}

.input {
    height: 40px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid $color-add-player-input-border-default-lite;
    border-radius: 10px;
    padding: 0 1rem;
    outline: none;
}

.input:focus {
    border: 1px solid $color-add-player-input-border-focus-lite;
}

.input-error {
    border: 1px solid $color-add-player-input-border-error-lite;
}

.error-message {
    height: 1rem;
    margin-top: 0.2rem;
    color: $color-add-player-error-text-lite;
    text-align: left;
}

.btn {
    background-color: $color-add-player-btn-default-lite;
    height: 40px;
    border: solid 3px $color-add-player-btn-default-lite;
    border-radius: 10px;
    color: $color-add-player-btn-text-default-lite;
    padding: 0 1rem;
    box-sizing: border-box;
    font-weight: bold;
    transition: background 0.6s;
}

.btn:hover {
    color: $color-add-player-btn-text-hover-lite;
    background: none;
}