// Светлая тема
$color-bg-lite: #6BB77B;
$color-btn-bg-default-lite: #AD3D08;
$color-btn-text-default-lite: white;
$color-btn-text-hover-lite: #AD3D08;
$color-text: #172D13;
$color-empty-list-text: #616161;