// Размеры
$mobile: 507px;
$tablet: 768px;
$desktop: 1024px;

// Светлая тема
$color-bg-lite: #6BB77B;
$color-btn-bg-default-lite: #AD3D08;
$color-btn-text-default-lite: white;
$color-btn-text-hover-lite: #AD3D08;
$color-text: #172D13;
$color-empty-list-text: #616161;
$color-player-card-border-lite: #6BB77B;
$color-player-card-count-btn-lite: #6bb77c6c;
$color-player-counter-lite: #3c745a;
$color-add-player-btn-default-lite: #AD3D08;
$color-add-player-btn-text-default-lite: white;
$color-add-player-btn-text-hover-lite: #AD3D08;
$color-add-player-input-border-default-lite: #DCDCDC;
$color-add-player-input-border-focus-lite: #6BB77B;
$color-add-player-input-border-error-lite: #DC143C;
$color-add-player-error-text-lite: #DC143C;
$color-setting-field-bg: #f0f0f0;