@use '../../styles/mixin';
@use '../../styles/variables' as *;

$mobile: 507px;
$tablet: 768px;
$desktop: 1024px;

#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  // align-items: flex-end;

  @media (max-width: $mobile) {
    width: 100%;
}
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  gap: 1rem;
  width: 100%;

  @media (max-width: $mobile) {
    display: flex;
    flex-direction: column;
  }
}
