#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.cardsContainer {
  display: flex;
  gap: 1rem;
}

.card {
  width: 200px;
  height: 200px;
  padding: 2rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: white;

  & .title {
      font-size: 1.5rem;
      font-weight: bold;
  }

  & .letter {
      font-size: 5rem;
  }

  & .question {
    font-size: 1.2rem;
  }

  & .animated-text {
    transition: opacity 0.5s ease-in-out;
  }

  & .fade-out {
    opacity: 0;
  }
  
  & .fade-in {
    opacity: 1;
  }

  & .gradiend-bg {
    background-image: linear-gradient(90deg, #3bf538, #94ec36, #daec83, #ece874);
    border-radius: 10px;
    position: relative;
    width: 100%;
    height: 50px;

    & .btn {
      position: absolute;
      top: 3px;
      left: 3px;
      bottom: 3px;
      right: 3px;
      color: white;
      font-weight: bold;
      border: none;
      border-radius: 9px;
      background: none;
      transition: background 0.6s;
    }

    & .btn:hover {
      background: white;
      color: #94ec36;
    }
  }
}