body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-image: linear-gradient(90deg, #3bf538, #94ec36, #daec83, #ece874);
}

p {
  margin: 0;
}