.player {
    width: 150px;
    padding: 1rem;
    border: 1px solid #3bf538;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    overflow: hidden;
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.5s ease-out;

    &.mounted {
        opacity: 1;
        transform: translateY(0);
    }
}

.cross-container {
    position: absolute;
    top: 0.4rem;
    right: 0.4rem;
    width: 1rem;
    height: 1rem;
}

.cross {
    width: 100%;
    height: 100%;
}

.player-name {
    font-size: 1.5rem;
    font-weight: bold;
    max-width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.count-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    & .count {
        height: 3rem;
        min-width: 3rem;
        font-size: 2rem;
        border-radius: 50%;
        background-color: #3bf538;
        color: white;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    & .count-btn {
        background-color: #3bf53842;
        border: none;
        font-size: 1rem;
        font-weight: bold;
        height: 2rem;
        width: 2rem;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        line-height: 1;
        transition: transform 0.3s ease;
    }
    
    & .count-btn:hover {
        transform: scale(1.1);
    }
    
    & .count-btn:active {
        transform: scale(1);
    }
}